body {
  width: 100%;
  height: 100%;
  margin: 0;
}
nav  a.visited{
  color: rgb(5, 5, 78);
}
nav a{
  background-color: #c0c0c0;
}
div{
  width: 25%;
}

body header,header + section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header p{
  width: 800px;
}
#details{
  background-color: red;
  display: flex;
  justify-content: space-evenly;
  padding-left: 170px;
  /* padding: 5px; */
}
#details > div{
  flex-direction: row;
}